{% load static %}
{% load cats_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="description" content="Лучший сайт про кошек">
	<link type="text/css" href="{% static 'funnytail/css/styles.css' %}" rel="stylesheet"/>
	<link rel="shortcut icon" href="{% static 'funnytail/images/main.ico' %}" type="image/x-icon"/>
	<title>{{ title }}</title>
</head>
<body>
<!-- Блок menu -->
{% block mainmenu %}
	<header class="header">
		<div class="logo">
			<a href="{% url 'home' %}"></a>
		</div>
		<ul id="main_menu" class="main_menu">
			{% for menu_item in menu %}
				{% if not forloop.last %}
					<li>
						{% else %}
					<li class="last">
				{% endif %}
			<a href="{% url menu_item.url_name %}">{{ menu_item.title }}</a></li>
			{% endfor %}
		</ul>
	</header>
{% endblock mainmenu %}

<main class="main_content">
	<!-- Sidebar слева -->
	<aside class="left-chapters">
		<ul id="left_chapters">
			{% if not category_selected or category_selected is None %}
				<li class="selected">Все породы</li>
			{% else %}
				<li><a href="{% url 'home' %}">Все породы</a></li>
			{% endif %}
			{% show_categories category_selected %}
		</ul>
	</aside>

	<!-- Блок контента -->
	<article class="content">
		{% block breadcrumbs %}
		{% endblock %}

		<div class="content-text">
			{% block content %}
			{% endblock %}
		</div>
	</article>
</main>

<!-- Footer -->
<footer>
	<div id="footer">
		<p>&copy; 2023 Частичное или полное копирование информации с данного сайта для распространения на других
			ресурсах,
			в том числе и бумажных, строго запрещено.</p>
	</div>
</footer>
</body>
</html>