{% extends 'base.html' %}

{% block breadcrumbs %}
	<!-- Теги -->
	{% with post.tags.all as tags %}
		{% if tags %}
			<ul class="breadcrumbs">
				<li>Теги:</li>
				{% for tag in tags %}
					{% if not forloop.last %}
						<li>
							{% else %}
						<li class="last">
					{% endif %}
				<a href="{{ tag.get_absolute_url }}">{{ tag.tag }}</a></li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
{% endblock %}

{% block content %}
	<h1>{{ post.title }}</h1>
	{% if post.preview %}
		<p><img class="preview" src="{{ post.preview.url }}"></p>
	{% endif %}
	{{ post.content|linebreaks }}
		<h2>
			Комментариев: {{ comments.count }}
		</h2>
	{% for comment in comments %}
		{% if forloop.last %}
			<div class="comment" id="last-comment">
		{% else %}
			<div class="comment">
		{% endif %}
			<p class="info">
				{{ comment.name }}
				{{ comment.created }}
			</p>
			{{ comment.body|linebreaks }}
		</div>
	{% empty %}
		<p>Комментариев еще нет.</p>
	{% endfor %}
	{% include "funnytail/comment_form.html" %}
{% endblock %}