{% load static %}
{% load cats_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="description" content="Лучший сайт про кошек">
	<link type="text/css" href="{% static 'funnytail/css/styles.css' %}" rel="stylesheet"/>
	<link rel="shortcut icon" href="{% static 'funnytail/images/main.ico' %}" type="image/x-icon"/>
	<title>{{ title }}</title>
</head>
<body>
<!-- Блок menu -->
{% block mainmenu %}
	<header class="header">
		<div class="logo">
			<a href="{% url 'home' %}"></a>
		</div>
		<ul id="main_menu" class="main_menu">
			{% for menu_item in main_menu %}
				<li><a href="{% url menu_item.url_name %}">{{ menu_item.title }}</a></li>
			{% endfor %}

			{% if user.is_authenticated %}
				<li class="last">
					{% if user.photo %}
						<a class="menu-user-photo" href="{% url 'users:profile' %}">
							<img src="{{ user.photo.url }}">
							{{ user.username }}
						</a>
					{% else %}
						<a class="menu-user-photo" href="{% url 'users:profile' %}">
							<img src="{{ default_image }}">
							{{ user.username }}</a>
					{% endif %}
					|
					<form class="form-logout" method="post" action="{% url 'users:logout' %}">
						{% csrf_token %}
						<button class="logout" type="submit">Выйти</button>
					</form>
					{% else %}
				<li class="last"><a href="{% url 'users:login' %}">Войти</a>
					| <a href="{% url 'users:register' %}">Регистрация</a>
				</li>
			{% endif %}
		</ul>
	</header>
{% endblock mainmenu %}

<main class="main_content">
	<!-- Sidebar слева -->
	<aside class="left-chapters">
		<ul id="left_chapters">
			{% if category_selected == 0 %}
				<li class="selected">Все породы</li>
			{% else %}
				<li><a href="{% url 'home' %}">Все породы</a></li>
			{% endif %}
			{% show_categories category_selected %}
			<li class="tags">
				{% show_all_tags %}
			</li>
			<p>Самые комментируемые:</p>
			<ul class="tags-list">
				{% get_most_commented_posts as most_commented_posts %}
				{% for post in most_commented_posts %}
					<li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
		</ul>
	</aside>

	<!-- Блок контента -->
	<article class="content">
		{% if messages %}
			<ul class="messages">
				{% for message in messages %}
					<li class="{{ message.tags }}">
						{{ message|safe }}
						<a href="{% url 'post' post.slug %}" class="close">x</a>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
		{% block breadcrumbs %}
		{% endblock %}

		<div class="content-text">
			{% block content %}
			{% endblock %}
		</div>

		<div class="content-navigation">
			{% block  navigation %}
			{% endblock %}
		</div>
	</article>
</main>

<!-- Footer -->
<footer>
	<div id="footer">
		<p>&copy; 2023 Частичное или полное копирование информации с данного сайта для распространения на других
			ресурсах,
			в том числе и бумажных, строго запрещено.</p>
	</div>
</footer>
</body>
</html>