{% extends 'base.html' %}
{% load static %}

{% block content %}
	<ul class="list-article">
		{% for post in posts %}
			<li class="article-item">
				{% if post.preview %}
					<p><img class="preview" src="{{ post.preview.url }}"></p>
				{% endif %}
				<div>
					<div class="content-head">
						<p class="first">Порода: {{ post.breed.name }} |
							Автор: {{ post.author.username|default:'неизвестен' }}</p>
						<p class="last">Дата: {{ post.time_update|date:"d-m-Y H:i:s" }}</p>
					</div>
					<div class="block-content">
						<h2>{{ post.title }}</h2>
						<div class="text-content">
							{{ post.content|linebreaks|truncatewords:40 }}
						</div>
					</div>
					<div class="btn-link-read">
						<a href="{{ post.get_absolute_url }}">Читать пост</a>
					</div>
				</div>

			</li>
			{% if not forloop.last %}
				<hr>
			{% endif %}
		{% endfor %}
	</ul>
{% endblock %}
{% block navigation %}
	{% if page_obj.has_other_pages %}
		<nav class="list-pages">
			<ul>
				{% if page_obj.has_previous %}
					<li class="page-num">
						<a href="?page={{ page_obj.previous_page_number }}">&lt</a>
					</li>
				{% endif %}
				{% for page in paginator.page_range %}
					{% if page_obj.number == page %}
						<li class="page-num page-num-selected">{{ page }}</li>
					{% elif page >= page_obj.number|add:-2 and  page <= page_obj.number|add:2 %}
						<li class="page-num">
							<a href="?page={{ page }}">{{ page }}</a>
						</li>
					{% endif %}
				{% endfor %}
				{% if page_obj.has_next %}
					<li class="page-num">
						<a href="?page={{ page_obj.next_page_number }}">&gt</a>
					</li>
				{% endif %}
			</ul>
		</nav>
	{% endif %}
{% endblock %}